body {
  font-family: Arial, sans-serif;
  background-color: #8a50dc;
  ;
  text-align: center;
}
.login-container {
  margin-top: 100px;
  width: 300px;
  padding: 20px;
  background-color: #080c34;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  display: inline-block;
}
input[type="text"], input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #8a50dc;
  border-radius: 4px;
  background-color: #080c34; 
  display: flex;
  margin-left: 0px;

}
input[type="submit"] {
  background-color: #8a50dc;
  color: rgb(245, 244, 244);
  padding: 10px 20px;
  border-radius: 4px;

}
input[type="submit"]:hover {
  background-color: #45a049;
}
h2 {
  color: white;
}
.teste {
  background-color: #8a50dc;
  color: rgb(245, 244, 244);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 300px;
  padding-left: 50px;
  

}
.btn1 {
    display: flex;
    margin-left: 234px;
    margin-top: -48px;
    padding-top: 9px;
    height: 40px;
    background-color: #8a50dc;
    padding-inline: initial;
    width: 66px;
    padding-left: 5px;
    border-radius: 3px;
    color: aliceblue;
}

.input {
  color: aliceblue;
  display: flow-root;
  margin-left: 245px;
  margin-top: -24px;
}